@font-face {
  font-family: "YesevaOne";
  src: url("../fonts/YesevaOneRegular.eot");
  src: url("../fonts/YesevaOneRegular.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/YesevaOneRegular.woff") format("woff"), 
  url("../fonts/YesevaOneRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Kurale-Regular";
  src: url("../fonts/Kurale-Regular.eot");
  src: url("../fonts/Kurale-Regular.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/Kurale-Regular.woff") format("woff"), 
  url("../fonts/Kurale-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "GentiumBookBasic";
  src: url("../fonts/GenBkBasR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "GentiumBookBasic";
  src: url("../fonts/GenBkBasI.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: "GentiumBookBasic";
  src: url("../fonts/GenBkBasB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "GentiumBookBasic";
  src: url("../fonts/GenBkBasBI.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/pattern.jpg");
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  font-family: "GentiumBookBasic", Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
}
header {
  position: relative;
  padding: 12px;
  background: linear-gradient(to right, #0505FF, #CEE2CC);
  font-family: "CopperplateCyrillic-Bold", Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact {
  padding: 10px;

  float: left;
  font-size: 20px; 
  font-weight: 400;
}

.contact h3 {
  margin-top: 15px; 
}

.fio {
  padding: 10px 5px 10px 5px;

  float: right;
  text-align: center;

}
.fio h2 {
  margin: 15px 0 0 0; 
  padding: 0;
  font-family: "Kurale-Regular", Georgia, "Times New Roman", Times, serif;
  color: #000000;
  font-size: 56px; 
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

  .fio h3 {
  margin: 0; 
  padding: 0;
  font-family: "Kurale-Regular", Georgia, "Times New Roman", Times, serif;
  color: #000000;
  font-size: 43px; 
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.fio p {
  margin: 2% 12% 0 12%;
}
.discription {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*
.principles {
padding: 3% 0 0 10%;
float: left;
}

.team {
padding: 3% 16% 0 10%;
float: right;
}*/

/*
.economy {
margin: 10px;
padding: 10px;
width: 28%;
float: left;

}

.bankruptcy {
margin: 10px;
padding: 10px;
width: 28%;
float: left;
border-right: 3px solid #000000;
border-left: 3px solid #000000;
}

.crime {
margin: 10px;
padding: 10px;
width: 28%;
float: left;
} */
.block {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-right: 3px solid #000000;
  border-left: 3px solid #000000;
}
 
  
.practice {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.practice h2 {
  width: 100%;
  margin: 2% 0 0 0;
  font-family: "Kurale-Regular", Georgia, "Times New Roman", Times, serif;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.experience {
  display: flex;
  flex-wrap: wrap;
}
.experience__item {
  position: relative;
  padding: 14% 21%;
  width: 100%;
  background-image: url('../img/background-section.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
.experience__item__title {
  font-family: "YesevaOne", Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
}
 
.fon {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
}
  

/*form*/

.title {
  font-weight: 300;
  font-size: 26px;
  line-height: 26px;
}
.btn {
  display: block;
  width: 80%;
  max-width: 200px;
  margin: 1rem auto;
  border: 1px solid #595959;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #000000;
  border-radius: 100px;
  transition: 0.2s;
  text-align: center;
  font-size: 16px;
}
.btn:hover {
  text-decoration: none;
  background-color: blue;
  color: #ffffff;
}

button {
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;

}
button:active, button:visited, button:focus  {
  border: none;
  box-shadow: none;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.form {
  background: #ffffff url('../img/bg-form.jpg') no-repeat center center;
  background-size: cover;
  color: #000000;
  justify-content: center;
  padding: 6% 6%;
  text-align: center;
}
.form__wrapper {
  margin: 0 auto;
}

#messegeResult p{
  color: #000000;
  font-size: 16px;
  text-align: center;
}
form{
  width: 300px;
  margin: 0 auto;
}
input, 
select {
  height: 50px;
  border-radius: 25px;
  border: none;
  border-bottom: 5px solid #ebeae6;
  margin: 1%;
  padding: 0 15%;
  text-align: left;
  font: 400 14px 'PT Sans', sans-serif;
  display: inline-block ;
  width: auto;
}  
select {
  padding: 0 13%;
}
#button{
  cursor: pointer;
}
input,
select,
textarea,
#button:active, 
#button:focus {
  outline: none;
}
#button::-moz-focus-inner {
  border: 0;
}
textarea {
  width: 80%;
  padding: 0 3%;
  font: 400 14px 'PT Sans', sans-serif;
}
textarea:-moz-placeholder { 
  padding: 0;
  font: 400 14px 'PT Sans', sans-serif;
  width: 100%;

}
textarea::-webkit-input-placeholder { 
  padding: 0;
  font: 400 14px 'PT Sans', sans-serif;
    width: 100%;
}

footer {
  padding: 10px;
  text-align: right;
  font-size: 15px;

  background: linear-gradient(to right, #0505FF, #CEE2CC);
}
.float-social {
  display: none;
  float: left;
}

.footer-info {
  float: right;
}

footer span {
  display: block;
  float: right;
  color: #0505FF;
  font-weight: 800;
}

@media screen and (min-width: 640px) {
  .block {
    width: 42%;
    border: none;

  }
  .block:nth-child(2) {
    border-right: 3px solid #000000;
  }
  .experience__item {
    padding: 15% 10%;
    width: 30%;
  }
  .form {
    padding: 2% 2%;
  }
  .form__title {
    padding: 2% 0;
  }
  .form__wrapper {
    width: 100%;
  }

}

@media screen and (min-width: 1140px) {
  .wrapper {
    width: 1120px;
  }
  .block {
    width: 29%;
  }
  .experience__item {
    padding: 5% 11%;
    width: 28%;
  }
  .block:nth-child(3) {
    border-right: 3px solid #000000;
  }
}