@font-face {
  font-family: "YesevaOne";
  src: url("../fonts/YesevaOneRegular.eot");
  src: url("../fonts/YesevaOneRegular.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/YesevaOneRegular.woff") format("woff"), 
  url("../fonts/YesevaOneRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Kurale-Regular";
  src: url("../fonts/Kurale-Regular.eot");
  src: url("../fonts/Kurale-Regular.eot?#iefix") format("embedded-opentype"), 
  url("../fonts/Kurale-Regular.woff") format("woff"), 
  url("../fonts/Kurale-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: "GentiumBookBasic";
  src: url("../fonts/GenBkBasR.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "GentiumBookBasic";
  src: url("../fonts/GenBkBasI.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: "GentiumBookBasic";
  src: url("../fonts/GenBkBasB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "GentiumBookBasic";
  src: url("../fonts/GenBkBasBI.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
  background-image: url("../img/pattern.jpg");
  font-family: "GentiumBookBasic", Georgia, "Times New Roman", Times, serif;
}

header {
  position: relative;
  padding: 22px;
  background: linear-gradient(to right, #0505FF, #CEE2CC);
  font-family: "CopperplateCyrillic-Bold", Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
}

header h1 {
  padding: 10px;
  margin: 0;
}

.gerb {
  position: absolute;
  top: 4%;
  right: 6%;
}

.judiciary {
  position: absolute;
  top: 10%;
  left: 7%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  margin: 0 auto;
}

.contact {
  padding: 10px;
  width: 33%;
  float: left;

  font-size: 20px; 
  font-weight: 400;
}

.contact h3 {
  margin-top: 15px; 
}

.fio {
  padding: 10px 5px 10px 5px;
  width: 60%;
  float: right;
  text-align: center;

}
.fio h2 {
  margin: 15px 0 0 0; 
  padding: 0;
  font-family: "Kurale-Regular", Georgia, "Times New Roman", Times, serif;
  color: #000000;
  font-size: 56px; 
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.fio h3 {
  margin: 0; 
  padding: 0;
  font-family: "Kurale-Regular", Georgia, "Times New Roman", Times, serif;
  color: #000000;
  font-size: 43px; 
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.fio p {
  margin: 2% 12% 0 12%;
}

.principles {
  padding: 3% 0 0 2%;
  float: left;
}

.team {
  padding: 3% 16% 0 3%;
  float: right;
}

section h3 {
  font-family: "YesevaOne", Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 1px 2px rgba(1, 1, 1, 0.64);
}

.experience {
  position: relative;
  padding: 35px 75px 54px 88px;
  width: 31%;
  float: left;
  z-index: 2;

}
.fon {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
}

.activities {
  position: relative;
  padding: 35px 75px 62px 88px;
  width: 32%;
  float: left;
  z-index: 2;
}

.practice {
  overflow: hidden;
}

.practice h2 {
  margin: 2% 0 0 0;
  font-family: "Kurale-Regular", Georgia, "Times New Roman", Times, serif;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

/*высоту колонок выровняла %-тами*/
/*
.economy {
  margin: 10px;
  padding: 10px;
  width: 25%;
  float: left;
  border: 3px solid #000000;
}

.bankruptcy {
  margin: 10px;
  padding: 10px;
  width: 32%;
  float: left;
  border: 3px solid #000000;
}

.crime {
  margin: 10px;
  padding: 10px;
  width: 27%;
  float: left;
  border: 3px solid #000000;
}
*/
/*или сделать так:*/
.economy {
  margin: 10px;
  padding: 10px;
  width: 28%;
  float: left;

}

.bankruptcy {
  margin: 10px;
  padding: 10px;
  width: 28%;
  float: left;
  border-right: 3px solid #000000;
  border-left: 3px solid #000000;
}

.crime {
  margin: 10px;
  padding: 10px;
  width: 28%;
  float: left;
}

footer {
  padding: 10px;
  text-align: right;
  font-size: 15px;

  background: linear-gradient(to right, #0505FF, #CEE2CC);
}

footer span {
  display: block;
  float: right;
  color: #0505FF;
  font-weight: 800;
}
